<div class="row">
  <div>
    <%= form_with(model: @room,
                  url: @room.valid? ? admin_room_path(@room) : admin_rooms_path,
                  :html => {class: "form-horizontal", role: "form"}) do |form| %>
      <%# render errors %>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :name %>
        </div>
        <div class="col-sm-6">
          <%= form.text_field :name, class: "form-control", placeholder: "Enter room's name" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :cost %>
        </div>
        <div class="col-sm-6">
          <%= form.text_field :cost, class: "form-control", placeholder: "Enter room's cost" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :description %>
        </div>
        <div class="col-sm-6">
          <%= form.text_area :description, class: "form-control", placeholder: "Write down room's description" %>
        </div>
      </div>

      <div class="form-group">
        <div class="control-label col-sm-2">
          <%= form.label :images %>
        </div>
        <div class="col-sm-4">
          <% if @room.images %>
          <ul>
            <% @room.images.each do |file| %>
              <li>
                <% if file.representable? %>
                  <%= image_tag file.representation(resize_to_limit: [200, 200]) %>
                  <%= link_to("Delete image", "/admin/rooms/#{file.id}/delete_image_attachment?room_id=#{@room.id}",
                      class: "img-link") %>
                <% end %>
              </li>
            <% end %>
          </ul>
          <% end %>
          <%= form.file_field :images, multiple: true %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
</div>