<div class="row text-center wrap col-xs-4 col-xs-offset-4"  style="padding: 2rem;">
  <h1>Admin's rooms page</h1>
</div>

<%= render 'shared/errors', obj: @room if defined? @room %>

<div class="wrap col-xs-8 col-xs-offset-2 admin-rooms-wrapper">
<table id="rooms-table">
  <tbody>
  <% unless @rooms.empty? %>
    <tr>
      <td>Room name</td>
      <td>Date of creation</td>
      <td>Date of last update</td>
      <td></td>
      <td></td>
    </tr>
  <% end %>

  <% @rooms.each do |room| %>
  <tr>
    <td><%= room.name %></td>
    <td><%= room.created_at %></td>
    <td><%= room.updated_at %></td>
    <td><%= button_to "Destroy room", admin_room_path(room), method: :delete %></td>
    <td><%= button_to "Update room", edit_admin_room_path(room), method: :get %></td>
  </tr>
  <% end %>
  </tbody>
</table>
</div>

<div class="d-flex justify-content-center col-xs-2 col-xs-offset-5" style="margin-top: 2rem; margin-bottom: 2rem;">
      <%= button_to "Create room", new_admin_room_path, method: :get %>
      <%# button_to "Log out", destroy_administrator_session_path, method: :delete %>
</div>