<%= form_with(url: booking_path) do |form| %>
  <%# render errors %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name, placeholder: "Enter your name" %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email, placeholder: "Enter your email" %>
  </div>

  <div>
    <%= form.label :arrival_date %>
    <%= form.date_select :start_date, start_year: Time.now.year %>
  </div>

  <div>
    <%= form.label :departure_date %>
    <%= form.date_select :end_date, start_year: Time.now.year %>
  </div>

  <div>
    <%= form.label :comment %>
    <%= form.text_area :comment, placeholder: "Enter your comment" %>
  </div>

  <%= hidden_field_tag 'room_id', @room.id %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
