<div class="row rooms-wrap">
  <div>

<div id="<%= dom_id obj %>">
  <p>
    <%= "Name : #{obj.name}" %>
  </p>
  <p>
    Cost : <span id="cost"><%= "#{obj.cost}" %></span>
  </p>
  <p>
    <% if defined? room %>
      <%= truncate(obj.description, length: 70) %>
    <% else %>
      <%= obj.description %>
    <% end %>
  </p>
  <%= link_to "Book the room", controller: "bookings", action: "new", room_id: room if defined? room %>
</div>
  </div>
</div>